pkgbase = aliyunpan-xby-desktop
	pkgdesc = 小白羊网盘 - 阿里云盘第三方桌面客户端，支持多账号、在线播放、文件管理
	pkgver = 3.13.5
	pkgrel = 1
	url = https://github.com/gaozhangmin/aliyunpan
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = alsa-lib
	depends = libnotify
	depends = xdg-utils
	provides = aliyunpan-xby
	conflicts = aliyunpan-xby
	conflicts = aliyunpan-xby-bin
	source_x86_64 = aliyunpan-3.13.5-x86_64.AppImage::https://github.com/gaozhangmin/aliyunpan/releases/download/v3.13.5/XBYDriver-3.13.5-linux-x86_64.AppImage
	sha256sums_x86_64 = f38a9c2ca3ebc23ca1a507f958f95f919e6ada72568df35980dcf9667108620e
	source_aarch64 = aliyunpan-3.13.5-aarch64.AppImage::https://github.com/gaozhangmin/aliyunpan/releases/download/v3.13.5/XBYDriver-3.13.5-linux-arm64.AppImage
	sha256sums_aarch64 = c575ecfd682169fad89ae8b87cdfe44550a06eb1c57a21ce67c929f215f75994
	source_armv7h = aliyunpan-3.13.5-armv7h.AppImage::https://github.com/gaozhangmin/aliyunpan/releases/download/v3.13.5/XBYDriver-3.13.5-linux-armv7l.AppImage
	sha256sums_armv7h = 19631fe93714b7c9fda02cc3687dd76a9f68fa723be35a69cc97da9e04b4eff3

pkgname = aliyunpan-xby-desktop
