pkgbase = aliyunpan-wine
	pkgdesc = 阿里云盘官方客户端 - 通过 Wine 运行
	pkgver = 6.8.7
	pkgrel = 1
	url = https://www.alipan.com
	arch = x86_64
	license = custom
	depends = wine
	depends = wine-gecko
	depends = wine-mono
	depends = xdg-utils
	makedepends = p7zip
	optdepends = winetricks: 额外 Windows 组件
	optdepends = ttf-ms-fonts: 微软字体
	provides = aliyunpan
	conflicts = aliyunpan
	source = aliyunpan-6.8.7.exe::https://cloud.alipan.com/adrive/download/file/adrive-desktop-6.8.7-windows-x64.exe
	source = aliyunpan.sh
	source = aliyunpan.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = aliyunpan-wine
